.topbar
{
	background-color:#F6645F; 
	height:25px;
	min-height: 25px;
	color:#fff; 
	margin-bottom:2px;
	font-size: 11px;
}
.white
{
	color:#fff;
}
.hover
{
	color: #000;
}
.logo
{
	margin-bottom: 2%;
	position: relative;
	padding-top: 1%;
	width: 200px;
	float: left;
	margin-left: 5px;
	z-index: 101;
}
.logotext
{
	position: relative;
	padding-top: 30px;
	width: 150px;
	float: left;
	margin-left: 20px;
}
.sideMenu {
width: 230px;
padding: 0;
margin: 0;
list-style: none;
font-size: 13px;
background-color: #fff;
}
.sideMenu > li {
overflow: hidden;
height: 50px;
line-height: 50px;
text-indent: 25px;
position: relative;
z-index: 2;
border-top: 1px solid #ffffff;
border-bottom: 1px solid #dddddd;
}
.sideMenu > li.active
{
	border-left: 3px solid #F4AF3C;
}
.sideMenu > li.active > a
{
	color: #F4AF3C;
}
.sideMenu {
width: 230px;
padding: 0;
margin: 0;
list-style: none;
font-size: 13px;
min-height: 500px;
}
footer
{
position: fixed;
bottom: 0;
width: 100%;
z-index: 91;
min-height: 20px;
background: #1f1f1f;
color: #fff;
}
.fa
{
	padding-right: 20px;
}
a 
{
	color: #404040;
}
a:hover
{
	color: #F4AF3C;
}
.drop
{
	border-bottom: 1px solid #dddddd;
}
.errors
{
	color: red;
}
.acts
{
	border-style: solid;
	border-width: 1px;
    border-color: #DCDCDC;
}
.activity-group
{
	overflow: hidden;
	position: relative;
	z-index: 2;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dddddd;
}
.activity-group:hover
{
	overflow: hidden;
	position: relative;
	z-index: 2;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dddddd;
	background-color: #F5F5F5;
}
.activity-body
{
	margin: 10px;
}
.submit
{
	padding-top: 20px;
}
.search
{
	margin-bottom:20px;
}